.example {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 0.025rem solid #ced4da;
  margin: 0.25rem 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.example .exampleHeader {
  background-color: #fff;
  color: #383838;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
}
