.editor {
  font-family: 'jetbrains-mono', monospace;
  counter-reset: line;
  border: 1px solid #ced4da;
}

.editor #code-area {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor pre .token {
  font-family: 'jetbrains-mono', monospace !important;
}

.editor pre .punctuation {
  color: black;
  font-weight: bold;
}

.editor pre .data-type {
  color: #990055;
  font-weight: bold;
}

.editor pre .reference {
  color: #d70071;
  font-style: italic;
}

.editor pre .definition {
  color: #86004a;
}

.editor .editor-line-number {
  font-family: 'jetbrains-mono', monospace;
  position: absolute;
  left: 0;
  color: #a1a1a1;
  text-align: right;
  width: 40px;
  font-weight: 100;
  border-right: 1px solid #e3e9ef;
  padding-right: 15px;
  background-color: #efefef;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'jetbrains-mono', monospace;
}