.editor-wrapper {
  height: 400px;
  overflow: scroll;
}

.editor {
  font-family: 'jetbrains-mono', monospace;
  counter-reset: line;
  border: 1px solid #ced4da;
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
  min-height: 100%;
}

.code-area {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  /*padding-left: 60px !important;*/
  height: 100vh;
}