.examplesWrapper {
  padding-top: 0.5rem;
}

.examplesWrapper .examplesHeader {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.examplesWrapper .examplesSearch {
  padding: 0.45rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: calc(100% - 1.5rem - 2px);
  color: #383838;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.examplesList {
  list-style: none;
  padding: 0;
  margin: 0;
}
