.examples-wrapper {
  margin-top: 2rem;
}

.examples-wrapper .examples-header {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.examples-wrapper .examples-search {
  padding: 0.45rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: calc(100% - 1.5rem - 2px);
  color: #383838;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.examples-list {
  list-style: none;
  padding: 0;
  margin: 0;
}